h1{
    color: rgb(0, 255, 76);
    font-size: 50px;
    text-align: center;
    background-color: rgb(190, 38, 132);
}
h2{
    color: crimson;
    font-size: 50px;
    text-align: center;
    background-color: khaki;
}
